html{
    scroll-behavior: smooth;
    overflow: auto; 
    width: 100%; 
    height: 100vh; 
    box-sizing: border-box;
    font-family: 'Averia Libre', cursive;
}
body{
    margin: 0;
    padding: 0;
}
.main-background{
    background-image: url(main-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo{
    color:black;
    margin-left: 1%;
    filter: invert(95%); 
    height: 100%;
    float: right;
}
#page1, #page2{
    height: 100%;
    width: 100%;
    padding-top: 10%;
    background-color: rgb(19, 19, 19, 0.3);
}
#page6{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(19, 19, 19, 0.8);
    padding: 7%;
}
label{
    color: white;
}
.box{
    width: 80%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.4);
    margin-left: 10%;
}
.box2{
    background-color: rgba(255, 255, 255, 0.4);
    width: 50%;
    height: 100%;
    padding: 3%; 
    float: left;
}
.fixed-bar{
    position: relative;
    height: 15%;
    width: 100%;
    position: fixed;
    top: 1%;
    z-index: 10px;
}
.menuButton{
    position: absolute;
    background-image: url("menu.png");
    filter: invert(85%);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70%;
    width: 100%;
    top: 20%;
    left: 88%;
}
.menuSlide{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.6;
    overflow-x: hidden;
    transition: 0.3s all linear;
    padding-top:6%;
}
.open{
    width: 20%;
}
#close{
    filter: invert(95%);
    color: black;
    transition: 0.5s;
    margin-top: -20%;
    margin-right: 5%;
    float: right;
}
.menuText{
    color: black;
    filter: invert(95%);
    text-decoration: none;
    font-size: 2vw;
    transition: 0.3s; 
    font-family: 'Averia Libre', cursive;
    margin-left: 15%;
}
.marg{
    margin-top: 10%;
    margin-bottom: 1%;
}
.menuSlide div{
    display: block;
    margin-top: 10%;
}
a:hover{
    text-decoration: none;
}

.bg-image{
    margin: 0;
    width: 100%;
   height: 100%;
   background-position: 90% 50%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 35%;
}
.img1{
    background-color: #ebe4d1;
    background-image: url(sm2.png);
    }  
.img2{
    background-color: #f18787;
    background-image: url(sm1.png);
    }
.img3{
    background-color: #ebe4d1;
     background-image: url(sm3.png); 
    }
.bg-text{
    color: white;
    font-weight: bold;
    font-size: 7vw;
}
.m{
    position: absolute;
    margin-top: -35%;
    margin-left: 20%;
}
.circle{
    position: absolute;
    float: right;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    -webkit-box-shadow:  5px 5px 20px rgba(0,0,0,0.2);
    -o-box-shadow:  5px 5px 20px rgba(0,0,0,0.2);
}
div.circle:nth-child(1){
    height: 15vw;
    width: 15vw;
    top: 5%;
}
div.circle:nth-child(1) p{
    font-size: 2vw; 
    text-align: center;
}
div.circle:nth-child(1) p span{
    font-size: 1.7vw;
}
div.circle:nth-child(2){
    width: 11vw;
    height: 11vw;
    top: 25%;
    right: 13%;
}
div.circle:nth-child(n+2) p{
    font-size: 2.5vw; 
    text-align: center;
}
div.circle:nth-child(3){
    width: 13vw;
    height: 13vw;
    top: 55%;
    right: 40%;
}
.txt-p{
    display: block;
    font-size: 6vw;
    color: rgb(71, 71, 71);
    font-weight: bold;
    text-align: center;
}
.fruit-list{
    position: relative;
    display: block;
    font-size: 3vw;
    color: rgb(71, 71, 71);
    font-weight: bold;
    text-align: justify;
    text-justify: inter-character;
    top: 10vw;
    right: -26vw;
}
.fruit-box{
    position: relative;
    background-color: #facb4b;
    width: 25vw;
    height: 9vw;
    top: 9vw;
    left: 15vw;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
    line-height: 9vw;
}
.fruit-box p{
    font-size: 4vw;
}
.fruit-circle{
    position: relative;
    left: 10vw;
    top: 8vw;
    float: left;
    background-color: #facb4b;
    border-radius: 50%;
    height: 12vw;
    width: 12vw;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow:  5px 5px 10px rgba(0,0,0,0.2);
    -o-box-shadow:  5px 5px 10px rgba(0,0,0,0.2);
    font-size: 2.5vw;
    text-align: center;
    padding-top: 2.5vw;
}
form>label{
    font-size: 3vw;
}
.icons{
    margin-top: 25%;
    margin-left: 10%;
    float: left;
    color: black;
    filter: invert(95%); 
    font-size: 1.7vw;
}
textarea{
    height: 30%;
    resize: none;
}
footer{
    display: block;
    color:rgb(202, 202, 202);
    margin: 0;
    margin-bottom: -7%;
    text-align: center;
}
footer a{
    color:rgb(202, 202, 202);
}
/* ANIMACJA RYSOWANIE OBRYSU*/
.center{
    display: flex;
    justify-content: center;
}
 #check path{
    position: absolute;
    opacity: 0.9;
    stroke: white;
    stroke-width: 20px;
    fill: transparent;
    stroke-dasharray: 1915;
    stroke-dashoffset: 1915;
    transition: all 2s linear 0.5s;
}
#check.checked path{
    stroke-dashoffset: 0;
    fill: transparent;
    transition: all 2s linear 0.5s;
} 

/* MEDIA QUERIES */
@media (max-width: 680px) {
    body { height: 50vh; width: 100%;}
    .fixed-bar { height: 10%;}
    .menuButton { 
        height: 70%;
        width: 100%;
        left: 70%;
    }
    .menuSlide{
        height: 0;
        width: 100%;
        padding-top: 0;
        display: flex;
        flex-flow: column wrap;
    }
    .menuSlide p{
        margin-bottom: 5%;
    }
    .menuSlide a:first-child{
        width: 10%;
    }
    .open{
        width: 100%;
        height: 30%;
    }
    .menuText {
        display: block;
        width: 40%;
        height: 5%;
        font-size: 4vw;
        margin: 0;
        margin-left: 5%;
    }
    .fa-instagram{
        display: block;
        margin-top: 30%;
    }
    #close{
        float: none;
        margin: 0;
        height: 100%;
    }
    div.circle:nth-child(2){
        top: 30%;
    }
    div.circle:nth-child(n+1) p{
        margin:0;
        align-self: center;
        font-size: 3vw;
    }
    #page2 > div div:first-child{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menuSlide div{
        margin: 5%;
    }
    .circle{
        height: 20vw !important;
        width: 20vw !important;
    }
    .bg-image { 
        background-position: 90% 50%;
        background-size: 50%;
     }
     section > .col-lg-6{
         margin-top: 20%;
         margin-left: -10%;
     }
     #page6{
         height: 100vh;
         width: 100%;
     }
     form>label{
         font-size: 5vw;
     }
     textarea{
         height: 10%;
     }
     .icons{
         font-size: 3vw;
     }
 }
 @media (orientation: landscape) and (max-width: 680px) {
    body { height: 100vh; width: 100%;} 
    .fixed-bar { height: 15%;}
    .m{
        margin-left: 30%;
    } 
    .menuButton { left: 80%;}
    .menuSlide{
        height: 100%;
        width: 0;
    }
    .open{
        width: 30%;
        height: 100%;
    }
    .menuText{ font-size: 2vw; height: 2%;}
    #btn-page1{
        margin-top: 15%;
    }
    .circle{
        height: 15vw !important;
        width: 15vw !important;
    }
    div.circle:nth-child(2){ top: 20%;}
    div.circle:nth-child(n+1) p{ font-size: 2vw;}
    section > .col-lg-6{ margin: 0;}
    .icons{
        position: relative;
        margin: 0;
        top: -30vh;
        float: right;
    }
    .form-control{ 
        position: absolute;
        left: 20%;
        width: 40%; 
        display: inline; }
    textarea{ height: 40%;}
    .icons .fa-facebook{ margin-left: 20%;}
    .icons .fa-instagram{ margin:0;}
    footer{
        margin:0;
        margin-top: -10%;
    }
 }
@media (max-width:1000px){
    svg { display: none; }
    .m{
        border: 3px solid #fff;
        margin:0;
        margin-top: 20%;
        margin-left: 10%;
        padding: 5%;}
}
@media (min-width: 1600px) {
    .fixed-bar { height: 10%; }
    .bg-text{ font-size: 5vw;}
    .m{ margin-top: -28%;}

 } 
